<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="mySuite">


    <test name="Run one test from Greetz">

        <classes>
            <class name="Greetz.GreetzMoreThanOneProductTest">
            <methods>
                <include name="CheckingPriceChangesTest" />
            </methods>
        </class>
        </classes>
        </test>





</suite>